.content {
    background-color: var(--background);
    /* background-image: url(../../image/bg-circle2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
}

.img img {
    width: 150%;
    height: 100%;
    /* margin-top: -5rem; */
    margin-left: -5rem;
    filter: drop-shadow(0 0 10rem var(--pink));
}

.title h3 {
    color: var(--pink) !important;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 2rem !important;
    letter-spacing: 0.8rem;
    text-align: center;
    padding-top: 20vh;
    margin-bottom: -3rem;
}

.title h1 {
    color: var(--dark-pink);
    font-family: "Ahsing";
    font-size: 10rem;
    letter-spacing: 1rem;
    text-align: center;
    padding-top: 0;
}

.title p {
    color: var(--pink);
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    padding: 0 4rem;
    font-style: italic;
    text-align: center;
    padding-top: 0;
}

.btn-cat {
    background-color: none;
}

.btn-cat a {
    font-family: "Moon";
    font-size: 1.5rem;
    color: white;
    background-color: var(--orange);
    border-radius: 50px;
    padding: 1rem 3rem;
    margin: 0.5rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
}

.right {
    margin-left: 10rem;
}

#sec-1 .row {
    width: 110%;
}
/* background */
#sec-2 {
    height: 110vh;
    position: relative;
    padding-top: 20vh;
}

.box {
    background-color: var(--box);
    border-radius: 1rem;
    margin-top: 4rem;
    padding: 5rem;
}

.box h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: var(--dark-pink);
    text-align: center;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.5rem;
}

.card {
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(92, 72, 72, 0.2);
    border-radius: 1.4rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 3rem 0;
    width: 300px;
    height: 380px;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.col h3 {
    color: var(--dark-pink);
    font-size: 5rem;
}

/* C1 */
.c1 {
    background-color: #ffa5a5;
}

.c1 .circle {
    background-color: #ffe8e8;
}

.c1 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    font-style: italic;
}

.c1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: white;
    /* font-style: italic; */
    padding: 0 2rem;
}

/* C2 */
.c2 {
    background-color: #ffd3d3;
}

.c2 .circle {
    background-color: white;
}

.c2 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--dark-pink);
    font-weight: 700;
    font-style: italic;
}

.c2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--dark-pink);
    /* font-style: italic; */
    padding: 0 2rem;
}

/* C3 */
.c3 {
    background-color: white;
}

.c3 .circle {
    background-color: #ffcfcf;
}

.c3 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--dark-pink);
    font-weight: 700;
    font-style: italic;
}

.c3 p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--dark-pink);
    /* font-style: italic; */
    padding: 0 2rem;
}

/* Hover */

.c1:hover {
    transition: ease-in-out 0.5s;
    transform: translateY(-15px);
}

.c2:hover {
    transition: ease-in-out 0.5s;
    transform: translateY(-15px);
}

.c3:hover {
    transition: ease-in-out 0.5s;
    transform: translateY(-15px);
}

#sec-3 {
    /* height: 100vh; */
    /* position: relative; */
    padding-bottom: 15vh;
}

#sec-3 .row {
    /* width: 110%; */
    align-items: center;
}

#sec-3 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 0.8rem !important;
    color: var(--dark-pink);
    text-align: left;
    padding-top: 0;
}

#sec-3 p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--pink);
    padding-top: 1rem;
    font-style: italic;
    text-align: left !important;
    padding-bottom: 1rem;
}

#sec-3 img {
    min-width: 120%;
    height: 100%;
    /* margin-top: 5rem; */
    filter: drop-shadow(0 0 15rem var(--pink));
}

/* 
@media (min-width: 768px) {
    section:after {
        border-width: 0 0 100rem 70rem;
    }
}

@media (min-width: 992px) {
    section:after {
        border-width: 0 0 200rem 70rem;
    }
} */

/* button */

.type--A {
    --line_color: #555555;
    --back_color: #ffecf6;
}
.button {
    display: flex;
    position: relative;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--pink);
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Moon";
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--pink);
    transition: all 0.5s ease;
}
.button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
}
.button::after {
    top: 0;
    right: 54px;
    width: 8px;
}
.button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}
.button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}
.button__line::before {
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--pink);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
    left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
    right: 0;
}
.button:hover {
    letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
    width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
}
.button__drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
}
.button__drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
    content: "";
    position: absolute;
}
.button__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
}
.button__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
}
.button__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
}
.button__drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
    background: var(--light-pink);
}
.button:hover .button__drow1 {
    animation: drow1 ease-in 0.06s;
    animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
    animation: drow2 linear 0.08s 0.06s;
    animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
    animation: drow3 linear 0.03s 0.14s;
    animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
    animation: drow4 linear 0.06s 0.2s;
    animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
    animation: drow3 linear 0.03s 0.26s;
    animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
    animation: drow5 linear 0.06s 0.32s;
    animation-fill-mode: forwards;
}
@keyframes drow1 {
    0% {
        height: 0;
    }
    100% {
        height: 100px;
    }
}
@keyframes drow2 {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    100% {
        width: 120px;
    }
}
@keyframes drow3 {
    0% {
        width: 0;
    }
    100% {
        width: 80px;
    }
}
@keyframes drow4 {
    0% {
        height: 0;
    }
    100% {
        height: 120px;
    }
}
@keyframes drow5 {
    0% {
        width: 0;
    }
    100% {
        width: 124px;
    }
}
