.content {
    background-color: var(--cream);
    background-image: url(../../image/bg-circle4.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
}
.logo {
    width: 20%;
}

.img-left {
    width: 250px;
    height: 250px;
}

.box {
    text-align: center;
    background-color: var(--dark-purple);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    width: 40%;
}

h1 {
    font-family: Moon;
    color: var(--dark-purple);
    letter-spacing: 0.2rem;
    text-align: center;
    padding-top: 3rem;
    font-size: 4rem;
}

h3 {
    font-family: Jua;
    color: white;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 4rem;
    color: white;
}

.submit {
    --c: white; /* the color*/
    font-family: "Moon";
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition: background-size 0.4s, background-position 0s 0.4s;
}

.submit:hover {
    --_p: 100%;
    transition: background-position 0.4s, background-size 0s;
    color: var(--dark-purple);
}

.submit:active {
    box-shadow: 0 0 9e9Q inset #0009;
    background-color: var(--c);
    color: #fff;
}
